/* -------------- main -------------- */

body {
	height: 100vh; /* full viewport */
	margin: 0;

	/* use flex to have content in the center */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ----------- grid layout ---------- */

.top-row,
.bottom-row {
	/* use flex to have content in the center */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.box {
	color: #fff; /* font color */
	background: #2d2d2d; /* background color */
	padding: 12px; /* space between boxes */
}
