/* -------------- main -------------- */

body {
	height: 100vh; /* full viewport */
	margin: 0;

	/* use flex to have content in the center */
	display: flex;
	justify-content: center;
	align-items: center;

	/* background */
	background: linear-gradient(to right, #70152d, #ad414f, #e8485e);
}

/* ---------- color palette --------- */

:root {
	--white: #fff;
}

/* ----------- grid layout ---------- */

.row-top, .row-bottom {
	/* use flex to have content in the center */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.box {
	color: var(--white); /* font color */
	padding: 5px; /* space between boxes */
}

#field-url {
	width: 200px; /* have URL input field a little bit wider to fit longer URLs */
}

input[type="text"] { /* center the label for URL input field*/
	text-align: center;
}

input[type="checkbox"] { /* align checkbox with label so it doesn't look off by a few pixels */ 
	float: left;
    line-height: 1em;
    height: 1.15em;
    margin: 0px 2px;
    padding: 0px;
    font-size: inherit;
}
